.app-window {
    height: 100vh;
    width: 80vw;
    padding: 10px;
    border: 2px solid black;
    position: fixed;
    left: 10vw;
}

.app-header {
    height: 20vh;
    width: 80vw;
    border: 1px solid black;
    .app-menue {
        width: 50vw;
        height: 20vh;
    }
    .app-account {
        width: 30vw;
        height: 18vh;
        position: fixed;
        left: 60vw;
        top: 5vh;
        border: 1px solid black;
    }
}

.selected {
    color: green;
}

.app-body {
    height: 80vh;
    border: 1px solid black;
    width: 80vw; 
    padding: 5px;
}